Xcursor.theme: Sweet-cursors

URxvt.font: xft:undefined medium:size=8,xft:Mono:size=8
URxvt.scrollBar: false
URxvt.letterSpace: 2
URxvt.cursorBlink: true
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.borderLess: false
URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 3

! perl scripts
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
! clickable urls
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.background: #282828
URxvt.foreground: #ebdbb2

! gruvbox
URxvt.color0: #282828
URxvt.color1: #cc241d
URxvt.color2: #98971a
URxvt.color3: #d79921
URxvt.color4: #458588
URxvt.color5: #b16286
URxvt.color6: #689d6a
URxvt.color7: #a89984
